@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

:root {
    --font-main:"DM Sans", sans-serif;
    --font-size: 24px;
    --font-symbol: "Noto Sans Symbols 2", sans-serif;
    --body-size: 16px;

    --accent-color: rgb(18, 18, 18);
    --bg-color:rgb(255, 255, 255);

    --gutters: 20px;
    --border-radius: 5px;
    --padding: 6px;
}


/* * {border:1px solid red;}  */

html {
    margin-top: calc(var(--gutters)*2);
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width:90%;
}

body {
    font-family: var(--font-main);
    font-size: var(--body-size);
    background-color: var(--bg-color);
    color: var(--accent-color);
}

header{
    font-size: var(--font-size);
}

h1 {
    font-weight: 600;
}

aside {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: var(--border-radius);
}

ol {
    display: flex;
    flex-direction: row;
    gap: calc(var(--padding)/1.5);
    margin-top: var(--gutters);
}

.link {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
}

.inline-link {
    text-decoration: underline; 
}

.link:hover {
    background-color: var(--accent-color);
    color: white;
}

.format-horizontal {
    display: flex;
    justify-content: space-between;
}

.format-horizontal-gap {
    gap: var(--gutters);
}

.format-column {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--gutters)*2);
}
.overflow {
    overflow: hidden;
    overflow-x: scroll;
}

.absolute-position {
    margin: var(--padding);
    position: absolute;
    color:white;
    opacity: 50%;
}

img {
    object-fit: cover; 
}



/* @media(min-width: 700px) {

    :root {
    --font-size: 24px;
    }

    html {
    max-width: 100ch;
    margin-left: var(--gutters);
    margin-right: 0px;

    } 

} */