@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

:root {
    --font-main:"DM Sans", sans-serif;
    --font-size: 16px;
    --font-symbol: "Noto Sans Symbols 2", sans-serif;

    --accent-color: rgb(18, 18, 18);
    --bg-color:rgb(255, 255, 255);

    --gutters: calc(var(--font-size) * 2);
    --border-radius: 5px;
    --padding: 10px;
}


/* * {border:1px solid red;}  */

html {
    margin-top: calc(var(--gutters)*2);
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width:80%;

}

body {
    font-family: var(--font-main);
    font-size: var(--font-size);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--gutters)*2);
}

h1 {
    font-size: calc(var(--font-size) * 2);
    color: var(--accent-color);
    font-weight: 500;
    padding-bottom: var(--gutters);
}

h2 {
    font-family: monospace;
    font-size: var(--font-size);
    color: white;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    font-weight: 400;
    text-align: center;
    align-content: center;
    padding: var(--padding);
}

em {
    font-style: italic;
    font-weight: 300;
}

ol {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding)/1.5);
    margin-top: var(--gutters);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding);
    border: 1px solid black;
    border-radius: var(--border-radius);
}

.link:hover {
    background-color: rgb(238, 238, 238);
}

@media(min-width: 700px) {

    :root {
    --font-size: 24px;
    }

    html {
    max-width: 100ch;
    margin-left: var(--gutters);
    margin-right: 0px;

    } 

}